@media only screen and (max-width: 1024px) {
  html, body {
    min-height: 100vh;
    height: 100%;
  }
  body {
    background-size: cover;
  }

  .content {
    width: 100%
  }

  form {
    margin: 0 auto;
  }

}
