@media only screen and (max-width: 1024px) {
  section {
    background: url("../images/alasdair-elmes-ULHxWq8reao-unsplash.jpg") no-repeat center top fixed;
  }

  .content {
    width: 100%
  }

  form {
    margin: 0 auto;
  }

}
no-repeat center top fixed;
